nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  color: var(--black);
}

nav{
  background: var(--white);
  display: none;
  width: 90%;
  position: absolute;
  top: 0px;
  margin-left: -2.9em;
  height:100vh;
  z-index: 2;
  padding:7em 8em;
  box-shadow: 1px 1px 1px 1px rgba(222, 222, 222,.3);
}

nav ul{
  display: flex;
  position: relative;
  flex-direction: column;
  gap:30px;
}

.closeBtn{
  width: 46px;
  height: 46px;
  border: none;
  background: url("../../assets/icons/Icon ionic-ios-close-circle-outline.svg");
  background-size:contain;
  position: absolute;
  top: 40px;
  right: 40px;
}

.show{
  display: block;
}

@media screen and (min-width: 1200px){
  nav{
    display: block;
    width: 100%;
    height:100px;
    background: var(--black);
    z-index: 0;
    margin: 0;
    margin-top: 20px;
    position: static;
    padding:3em 3em;
    display: flex;
    align-items: center;
    order: 3;
  }

  nav ul{
    flex-direction: row;
    justify-content: center;
    gap: .7em;
    width: 100%;
    height:60px;
 
  }

  nav  ul li{
   height:100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 nav ul li:not(:last-of-type){
  border-right: 1px solid #fff;
}


  nav ul li a{
    color: var(--white);
    font-size: 1.6em;
    width:100%;
    padding: 0 1.5em;
  }

  nav ul li a:hover{
    color: #5B17AA;
  }
  
  .closeBtn{
    display: none;
  }
}