.bannerContainer{
  background: url("../../assets/images/banner-principal-mobile.png") no-repeat;
  background-size: 100vw 562px;
  height:562px;
  position: relative;
  overflow-x: hidden;
}

.sliderContainer{
  position: absolute;
  width: 100%;
  padding:1.8em;
  top: 50%;
  transform: translateY(-50%);
  display:flex;
  justify-content: space-between;
}

.btnSlider{
  width: 59px;
  height: 59px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btnSlider:hover{
  background-color: rgba(96, 96, 96,.5);
}

.btnRight{
  background:  rgba(96, 96, 96,.3) url("../../assets/icons/Trazado 75.svg") no-repeat;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-position: center;
  background-size:19px 38px;
}

.btnLeft{
  
  background:  rgba(96, 96, 96,.3)  url("../../assets/icons/Trazado 75.svg") no-repeat;
  background-size:19px 38px;
  background-position: center;
}

.changeContainer{
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap:5px;
}

.btnChange{
  border-radius: 50%;
  width: 37px;
  height: 37px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btnLeftCahnge{
  background: var(--white);
}

.btnRightChange{
  background: var(--white);
  opacity: 0.44;
}

@media screen and (min-width: 1200px){
  .bannerContainer{
    background: url("../../assets/images/banner-principal-desktop.png") no-repeat;
    height: 745px;
  }

  .btnSlider{
    width: 113px;
    height: 113px;
    border: none;
    outline: none;
  }

  .btnRight, .btnLeft{
    background-size: 40px 50px;
  }

  .changeContainer{
    gap:15px;
  }

}